<div class="calaverita-footer container-fluid">
  <div class="col-md-12 text-center ">
    <%= link_to 'Twitter', '#' %> <span class="calaverita-footer-separator">|</span>
    <%= link_to 'Facebook', '#' %> <span class="calaverita-footer-separator">|</span>
    <%= link_to 'Github', '#' %> <span class="calaverita-footer-separator">|</span>
    <%= link_to 'Trololol', '#' %>
  </div>
  <div class="col-md-12 text-center">
    <%= "© Rafael R A #{ Time.new.year }"  %>
  </div>
</div>